html {
    height: 100%;
    background-color: #e3e2df;
    background-size: cover;
}

#welcome_text {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

#city_count_text {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

#map_container {
    /*border: 3px solid white;
    border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 1250px;
    height: 550px;
    background-color: #e3e2df;
}

#download_button {
    margin-left: 100px;
    margin-top: 1em;
    padding: 0.5em 1.7em;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
    background-color: #47c511;
    font-size: 20px;
}

#download_button:hover {
    color: #47c511;
    background-color: white;
}

#github_logo {
    margin-left: 1000px;
    opacity: 0.5;
}